TEGB_BASE_URL=https://tegb-frontend-88542200c6db.herokuapp.com
TEGB_API_BASE_URL=https://tegb-backend-877a0b063d29.herokuapp.com
TREDGATE_BASE_URL=https://tredgate-training-qa-hub-74e558f9052f.herokuapp.com
TEGB_USER_EMAIL=
TEGB_USER_PASSWORD=
TREDGATE_USER_NAME=
TREDGATE_USER_PASSWORD=
